.box-shadow {
  // box-shadow: 0 6px 6px rgba(0,0,0,0.15);
}

.logo {
  margin-left: 30px;
}

.flex {
  display: flex;
}

.full-width {
  width: 100%;
}

.title {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 18px;

  font-weight: 400;
}
